astroid==2.4.2
autopep8==1.4.4
backcall==0.1.0
colorspacious==1.1.2
cycler==0.10.0
decorator==4.4.1
emcee==2.2.1
entrypoints==0.3
flake8==3.7.9
h5py==2.7.1
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
joblib==0.11
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.0.3
mccabe==0.6.1
numpy==1.13.3
pandas==0.21.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.6.0
pyparsing==2.4.3
python-dateutil==2.8.1
pytz==2019.3
scipy==0.19.1
six==1.12.0
toml==0.10.2
traitlets==4.3.3
typed-ast==1.4.2
wcwidth==0.1.7
wrapt==1.12.1
xarray==0.9.6
xlrd==1.2.0
yapf==0.28.0
